html {
  font-size: 62.5%; // 1rem is 10px
  
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  font-weight: normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../static/images/lol_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}