.footer_bg {
  background: linear-gradient(180deg, rgba(55,55,55,1) 0%, rgba(24,24,24,1) 28%, rgba(0,0,0,1) 100%);      
  width: 100vw;
  height: 25vh;
  .footer_wrapper {
      display: flex;
      width: 70vw;
      height: 25vh;
      justify-content: space-around;
      align-items: center;
      margin-left: 15vw;
      margin-right: 15vw;

      
      .icon_wrapper {
      background-image: url("../../static/images/Biggest.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 10vw;
      height: 10vh;
      }

      .links_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .socials_wrapper {
          display: flex;
          color: #3aaee1;
          text-align: right;
          
          .social {
              margin-right: .5vw;
              margin-bottom: .5vh;
              transition: .5s;
            }
            .social:hover {
              color: white;
              text-shadow: 3px 3px 3px black;
          }
        }

        .btn_wrapper {
          display: flex;
          justify-content: space-around;
          line-height: 10vh;

          button{
            width: 7vw;
            height: 10vh;
            background: none;
            border: none;
            color: white;
            transition: .5s;
            font-size: 2rem;

          }
          button:hover {
            color: #3aaee1;
            text-shadow: 3px 3px 3px black;
            letter-spacing: 1px;
          }
        }
      }
    .copyright {
      align-self: flex-end;
      color: white;
      margin-bottom: 1vh;
    }
  }
}