.nav_bg {
  background: linear-gradient(180deg, rgba(55,55,55,1) 0%, rgba(24,24,24,1) 28%, rgba(0,0,0,1) 100%);      
  width: 100vw;
  height: 15vh;
  
  .nav_bar_wrapper {
    display: flex;
    width: 70vw;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;

    .icon_wrapper {
    background-image: url("../../static/images/Biggest.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vh;
    }

    .socials_wrapper {
      display: flex;
      flex-direction: column;
      color: #3aaee1;
      text-align: right;
      .social {
        margin-right: .5vw;
        margin-bottom: .5vh;
        transition: .5s;
      }

      .social:hover {
        color: white;
        text-shadow: 3px 3px 3px black;
      }
    }

    .btn_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
      
      .user_btns {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .edit_btns {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    
      .nav_btn{
        width: 10vw;
        height: 5vh;
        background: none;
        border: none;
        color: white;
        transition: .5s;
        font-size: 2rem;
        text-decoration: none;
      }
      .nav_btn:hover {
        color: #3aaee1;
        text-shadow: 3px 3px 3px black;
        letter-spacing: 1px;
      }

    }
    button{
      width: 10vw;
      height: 5vh;
      background: none;
      border: none;
      color: white;
      transition: .5s;
      font-size: 2rem;
      text-decoration: none;
    }
    button:hover {
      color: #3aaee1;
      text-shadow: 3px 3px 3px black;
      letter-spacing: 1px;
    }
  }
}